<head><link rel="stylesheet" href="style.css"></head>

<body>

    <div class="container">


        <form action="" class="box">
            <h1>Login</h1>

            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="pass">
            <input type="submit" value="Login" id="btn1">
            <input type="reset" value="Reset">
        </form>
        <script src="index.js"></script>

    </div>    

</body>